<h1>You gotta connect to your instagram account</h1>

<p>The way the api rules work, I gotta make you login to make this work well. Sorry.</p>

<p>
  <%= link_to "Connect with Instagram", oauth_connect_path, class: "button button-instagram" %>
</p>
